In [22]:
import pandas as pd

In [29]:
data = pd.read_csv('hayden_cleaned_data.csv' ,index_col = 0)

In [48]:
data.sort_values(by = ["playerid", "Season"],inplace = True)
data.head()

,SP,RP,FD,C,target,playerid,Season,Stay_Length,Career_Length,GS,...,Expos,Rockies,Athletics,Reds,Pirates,Rays,Orioles,Rangers,Devil Rays,Leave
12850,0,0,1,0,retired,1,2003,1,1,0,...,0,0,0,0,0,0,0,0,0,0
12851,0,0,1,0,retired,1,2003,1,1,0,...,0,0,0,0,0,0,0,0,0,0
13277,0,0,1,0,Marlins,1,2004,2,2,0,...,0,0,0,0,0,0,0,0,0,1
8276,0,0,1,0,retired,1,2006,1,3,0,...,0,0,0,0,0,0,0,0,0,0
8277,0,0,1,0,retired,1,2006,1,3,0,...,0,0,0,0,0,0,0,0,0,0

In [49]:
mask = (data.Leave == 1)
data_leave = data[mask]
#data_leave.insert(0,"target","retired")
#data_leave.sort()
data_leave.head()

,SP,RP,FD,C,target,playerid,Season,Stay_Length,Career_Length,GS,...,Expos,Rockies,Athletics,Reds,Pirates,Rays,Orioles,Rangers,Devil Rays,Leave
13277,0,0,1,0,Marlins,1,2004,2,2,0,...,0,0,0,0,0,0,0,0,0,1
12884,0,0,1,0,retired,1,2009,4,6,0,...,0,0,0,0,0,0,0,0,0,1
7825,0,0,1,0,Braves,2,2008,7,7,0,...,0,0,0,0,0,0,0,0,0,1
14889,0,0,1,0,Dodgers,2,2009,1,8,0,...,0,0,0,0,0,0,0,0,0,1
15069,0,0,1,0,retired,2,2010,1,9,0,...,0,0,0,0,0,0,0,0,0,1

In [50]:
from keras.utils import np_utils

In [51]:
team_names = data.target.unique()
id_team = {names:i for i,names in enumerate (team_names)}
data_leave.target = data_leave.target.apply(lambda x : id_team[x])
data_leave.head(10)

C:\Users\Joseph\Anaconda3\lib\site-packages\pandas\core\generic.py:2999: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  self[name] = value

,SP,RP,FD,C,target,playerid,Season,Stay_Length,Career_Length,GS,...,Expos,Rockies,Athletics,Reds,Pirates,Rays,Orioles,Rangers,Devil Rays,Leave
13277,0,0,1,0,1,1,2004,2,2,0,...,0,0,0,0,0,0,0,0,0,1
12884,0,0,1,0,0,1,2009,4,6,0,...,0,0,0,0,0,0,0,0,0,1
7825,0,0,1,0,2,2,2008,7,7,0,...,0,0,0,0,0,0,0,0,0,1
14889,0,0,1,0,3,2,2009,1,8,0,...,0,0,0,0,0,0,0,0,0,1
15069,0,0,1,0,0,2,2010,1,9,0,...,0,0,0,0,0,0,0,0,0,1
2509,1,0,0,0,0,3,2003,2,2,19,...,0,0,0,0,0,0,0,0,0,1
8458,0,0,0,1,0,6,2004,1,1,0,...,0,0,0,0,0,0,0,0,0,1
12455,0,0,0,1,0,6,2008,2,3,0,...,0,0,0,0,0,0,0,0,0,1
6752,0,0,1,0,4,10,2004,3,3,0,...,0,0,0,0,0,0,0,0,0,1
9363,0,0,1,0,5,10,2007,3,6,0,...,0,0,0,0,0,0,0,0,0,1

# 2 Tasks

1. "copying and pasting the code here"
2. "Finding the right answer" 
    Start from the classifier/machine learning stuff
    x is all the feautres
    y is the dependent variable -> the team they go to
    find examples of multi-classification

# From Random Forrests

In [5]:
#Let's hope this works somewhat

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier
#from sklearn import svms
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import datasets

In [62]:
print(id_team)

{'retired': 0, 'Marlins': 1, 'Braves': 2, 'Dodgers': 3, 'Cardinals': 4, 'Blue Jays': 5, 'Padres': 6, 'White Sox': 7, 'Astros': 8, 'Diamondbacks': 9, 'Athletics': 10, 'Nationals': 11, 'Mariners': 12, 'Tigers': 13, 'Giants': 14, 'Yankees': 15, 'Rays': 16, 'Reds': 17, 'Indians': 18, 'Royals': 19, 'Rangers': 20, 'Phillies': 21, 'Pirates': 22, 'Orioles': 23, 'Brewers': 24, 'Angels': 25, 'Rockies': 26, 'Cubs': 27, 'Red Sox': 28, 'Twins': 29, 'Mets': 30, 'Expos': 31, 'Devil Rays': 32}

In [63]:
mask_retire = (data_leave.target == 0)
data_noretire = data_leave[~mask_retire]
data_noretire.
data_noretire.head()

,SP,RP,FD,C,target,playerid,Season,Stay_Length,Career_Length,GS,...,Expos,Rockies,Athletics,Reds,Pirates,Rays,Orioles,Rangers,Devil Rays,Leave
13277,0,0,1,0,1,1,2004,2,2,0,...,0,0,0,0,0,0,0,0,0,1
7825,0,0,1,0,2,2,2008,7,7,0,...,0,0,0,0,0,0,0,0,0,1
14889,0,0,1,0,3,2,2009,1,8,0,...,0,0,0,0,0,0,0,0,0,1
6752,0,0,1,0,4,10,2004,3,3,0,...,0,0,0,0,0,0,0,0,0,1
9363,0,0,1,0,5,10,2007,3,6,0,...,0,0,0,0,0,0,0,0,0,1

In [66]:
X = data_noretire[['SP','RP','FD','C','Stay_Length', 'Career_Length', 'GS', 'G', 'Inn']]#list(p.Team.unique())+


#y = data[['Diamondbacks','Royals','Dodgers','Phillies','Brewers','Cubs','Tigers','Giants','Red Sox','Indians','Twins','Blue Jays','White Sox','Padres','Cardinals','Mets','Braves','Expos','Rockies','Marlins','Astros','Nationals','Yankees','Mariners','Angels','Athletics','Reds','Pirates','Rays','Orioles','Rangers','Devil Rays']]
y = np_utils.to_categorical(data_noretire.target,33)

In [67]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

rf = RandomForestClassifier()

# Choose some parameter combinations to try
#parameters = {'n_estimators': [9, 25, 40],
 #             'max_features': ['log2', 'sqrt','auto'], 
#             'criterion': ['entropy', 'gini'],
#              'max_depth': [10, 3, 5, 15], 
#             'min_samples_split': [3, 5, 8],
#              'min_samples_leaf': [5, 1,8]
#             }

# Type of scoring used to compare parameter combinations
acc_scorer = make_scorer(accuracy_score)

# Run the grid search
#grid_obj = GridSearchCV(rf, parameters, n_jobs=4)#, scoring=acc_scorer)
#grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
#rf = grid_obj.best_estimator_


rf.fit(X_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
            max_depth=None, max_features='auto', max_leaf_nodes=None,
            min_impurity_split=1e-07, min_samples_leaf=1,
            min_samples_split=2, min_weight_fraction_leaf=0.0,
            n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
            verbose=0, warm_start=False)

In [68]:
accuracy_score(y_test, rf.predict(X_test))

0.036111111111111108

In [75]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

et = ExtraTreesClassifier()

# Choose some parameter combinations to try
#parameters = {'n_estimators': [9, 4, 6],
 #             'max_features': ['log2', 'sqrt','auto'], 
  #            'criterion': ['entropy', 'gini'],
   #           'max_depth': [10, 2, 3, 5], 
    #          'min_samples_split': [2, 3, 5],
     #         'min_samples_leaf': [5, 1,8]
      #       }

# Type of scoring used to compare parameter combinations
#acc_scorer = make_scorer(accuracy_score)

# Run the grid search
#grid_obj = GridSearchCV(et, parameters, n_jobs=4)#, scoring=acc_scorer)
#grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
#et = grid_obj.best_estimator_


et.fit(X_train, y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [76]:
accuracy_score(y_test, et.predict(X_test))

0.07407407407407407

In [77]:
#X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3)

ab = ExtraTreesClassifier()

# Choose some parameter combinations to try
parameters = {'n_estimators': [9, 4, 6],
              'max_features': ['log2', 'sqrt','auto'], 
              'criterion': ['entropy', 'gini'],
              'max_depth': [10, 2, 3, 5], 
              'min_samples_split': [2, 3, 5],
              'min_samples_leaf': [5, 1,8]
             }

# Type of scoring used to compare parameter combinations
acc_scorer = make_scorer(accuracy_score)

# Run the grid search
#grid_obj = GridSearchCV(ab, parameters, n_jobs=4)#, scoring=acc_scorer)
#grid_obj = grid_obj.fit(X_train, y_train)

# Set the clf to the best combination of parameters
#ab = grid_obj.best_estimator_


ab.fit(X_train, y_train)

ExtraTreesClassifier(bootstrap=False, class_weight=None, criterion='gini',
           max_depth=None, max_features='auto', max_leaf_nodes=None,
           min_impurity_split=1e-07, min_samples_leaf=1,
           min_samples_split=2, min_weight_fraction_leaf=0.0,
           n_estimators=10, n_jobs=1, oob_score=False, random_state=None,
           verbose=0, warm_start=False)

In [78]:
accuracy_score(y_test, ab.predict(X_test))

0.088888888888888892

In [74]:
import xgboost as xgb

ModuleNotFoundError: No module named 'xgboost'

In [ ]:
xmodel = xgb.XGBClassifier()
xmodel.fit(X_train, y_train)

In [ ]:
accuracy_score(y_test, xmodel.predict(X_test))