In [1]:
import numpy as np
import pandas as pd
import statsmodels.api as sm
import statsmodels.formula.api as smf
from scipy import stats
from itertools import combinations
import matplotlib.pyplot as plt
plt.style.use("ggplot")
import seaborn as sns

%matplotlib inline

/home/mtmoncur/anaconda3/lib/python3.6/site-packages/statsmodels/compat/pandas.py:56: FutureWarning: The pandas.core.datetools module is deprecated and will be removed in a future version. Please use the pandas.tseries module instead.
  from pandas.core import datetools

In [2]:
teams_abbr = {'- - -': '- - -', 'ANA': 'Angels', 'ARI': 'Diamondbacks', 
 'ATL': 'Braves', 'BAL': 'Orioles', 'BOS': 'Red Sox', 'CHC': 'Cubs', 
 'CHW': 'White Sox', 'CIN': 'Reds', 'CLE': 'Indians', 'COL': 'Rockies',
 'DET': 'Tigers', 'FLA': 'Marlins', 'HOU': 'Astros', 'KCR': 'Royals', 
 'LAA': 'Angels', 'LAD': 'Dodgers', 'MIA': 'Marlins', 'MIL': 'Brewers',
 'MIN': 'Twins', 'MON': 'Expos', 'NYM': 'Mets', 'NYY': 'Yankees',
 'OAK': 'Athletics', 'PHI': 'Phillies', 'PIT': 'Pirates', 'SDP': 'Padres',
 'SEA': 'Mariners', 'SFG': 'Giants', 'STL': 'Cardinals', 'TBD': 'Devil Rays', 
 'TBR': 'Rays', 'TEX': 'Rangers', 'TOR': 'Blue Jays', 'WSN': 'Nationals'}

In [3]:
#read in all data
sp = pd.read_csv('../data/FanGraphs_Starters (2).csv')
rp = pd.read_csv('../data/FanGraphs_Relievers (2).csv')
fd = pd.read_csv('../data/FanGraphs_Fielders (2).csv')
bt = pd.read_csv('../data/FanGraphs_Batting (2).csv')

a, b, c = len(sp),len(rp),len(fd)
print("""Number of starter pitchers:\t{}
Number of relief pitchers:\t{}
Number of fielders:\t\t{}
-------------------------------------
Total number of records:\t{}""".format(a, b, c, a+b+c))

#change abbreviation to full team name
fd.loc[[True]*len(fd),'Team'] = [teams_abbr[k] for k in fd.Team]

Number of starter pitchers:	2741
Number of relief pitchers:	1265
Number of fielders:		16122
-------------------------------------
Total number of records:	20128

In [4]:
print(bt.columns)
bt = bt[['Season', 'Name', 'Team', 'G', 'playerid']]
bt.sample(4)

Index(['Season', 'Name', 'Team', 'G', 'PA', 'HR', 'R', 'RBI', 'SB', 'BB%',
       'K%', 'ISO', 'BABIP', 'AVG', 'OBP', 'SLG', 'wOBA', 'wRC+', 'BsR', 'Off',
       'Def', 'WAR', 'playerid'],
      dtype='object')

      Season           Name     Team    G  playerid
7979    2003   Alex Sanchez  Brewers   43       708
4898    2006     Jake Peavy   Padres   32      1051
2812    2017   Miguel Rojas  Marlins   90      7802
1550    2002  Luis Castillo  Marlins  146       513

In [5]:
print(rp.columns)
rp = rp[['Season', 'Name', 'Team', 'G', 'GS', 'IP', 'playerid']]
rp['Inn'] = rp['IP']
rp.drop('IP', axis=1, inplace=True)
rp.sample(4)

Index(['Season', 'Name', 'Team', 'W', 'L', 'SV', 'G', 'GS', 'IP', 'K/9',
       'BB/9', 'HR/9', 'BABIP', 'LOB%', 'GB%', 'HR/FB', 'ERA', 'FIP', 'xFIP',
       'WAR', 'playerid'],
      dtype='object')

      Season            Name       Team   G  GS  playerid   Inn
1062    2009      Ryan Perry     Tigers  53   0      8799  61.2
325     2008     J.P. Howell       Rays  64   0      8245  89.1
845     2008  Dennis Sarfate    Orioles  53   0      2174  64.0
1035    2016  Kevin Siegrist  Cardinals  67   0      8180  61.2

In [6]:
sp.columns
sp = sp[['Season', 'Name', 'Team', 'G', 'GS', 'IP', 'playerid']]
sp['Inn'] = sp['IP']
sp.drop('IP', axis=1, inplace=True)
sp.sample(4)

      Season            Name     Team   G  GS  playerid    Inn
76      2010  Ubaldo Jimenez  Rockies  33  33      3374  221.2
1450    2012    Mark Buehrle  Marlins  31  31       225  202.1
2691    2005     Luke Hudson     Reds  16  16      1542   75.0
2402    2011  Nick Blackburn    Twins  26  26      4270  148.1

In [7]:
print(fd.columns)
fd = fd[['Season', 'Name', 'Team', 'Pos', 'Inn', 'playerid']]
fd.sample(4)

Index(['Season', 'Name', 'Team', 'Pos', 'Inn', 'rSB', 'rGDP', 'rARM', 'rGFP',
       'rPM', 'DRS', 'BIZ', 'Plays', 'RZR', 'OOZ', 'CPP', 'RPP', 'TZL', 'FSR',
       'ARM', 'DPR', 'RngR', 'ErrR', 'UZR', 'UZR/150', 'Def', 'playerid'],
      dtype='object')

       Season              Name        Team Pos     Inn  playerid
2098     2016    Didi Gregorius     Yankees  SS  1309.1      6012
5990     2004  Melvin Upton Jr.  Devil Rays  3B   103.0      5015
14762    2012     Chris Volstad        Cubs   P   111.1      9901
2959     2003      Raul Mondesi     Yankees  RF   854.0      1314

In [8]:
#create a 3 sets containing tuples of playerids with the season for each record
fd_season_id = set([tuple(row) for row in fd[['playerid','Season']].values])
rp_season_id = set([tuple(row) for row in rp[['playerid','Season']].values])
sp_season_id = set([tuple(row) for row in sp[['playerid','Season']].values])
bt_season_id = set([tuple(row) for row in bt[['playerid','Season']].values])

a, b, c, d = len(sp_season_id), len(rp_season_id), len(fd_season_id), len(bt_season_id)
total = set()
total.update(sp_season_id);total.update(rp_season_id);total.update(fd_season_id);total.update(bt_season_id)

print("Only counting players once per season.\n")
print("""Number of starter pitchers:\t{}
Number of relief pitchers:\t{}
Number of fielders:\t\t{}
Number of batters:\t\t{}
-------------------------------------
Total number of records:\t{}""".format(a, b, c, d, len(total)))

Only counting players once per season.

Number of starter pitchers:	2675
Number of relief pitchers:	1265
Number of fielders:		12253
Number of batters:		8348
-------------------------------------
Total number of records:	12445

In [9]:
print(len(bt_season_id.intersection(fd_season_id)))
print(len(bt_season_id.intersection(rp_season_id)))
print(len(bt_season_id.intersection(sp_season_id)))
print(len(rp_season_id.intersection(fd_season_id)))
print(len(rp_season_id.intersection(sp_season_id)))
print(len(sp_season_id.intersection(fd_season_id)))

8157
0
590
1264
3
2675

## Combine the pitchers first

The three below are the only ones that switched between starter and relief pitcher mid season.

In [10]:
name = 'Scot Shields'
print('sp', sp[sp.Name==name], end='\n')
print('rp', rp[rp.Name==name], end='\n')
print('fd', fd[fd.Name==name], end='\n')
print('bt', bt[bt.Name==name], end='\n\n')


name = 'Tim Wakefield'
print('sp', sp[sp.Name==name], end='\n')
print('rp', rp[rp.Name==name], end='\n')
print('fd', fd[fd.Name==name], end='\n')
print('bt', bt[bt.Name==name], end='\n\n')

name = 'Mike Montgomery'
print('sp', sp[sp.Name==name], end='\n')
print('rp', rp[rp.Name==name], end='\n')
print('fd', fd[fd.Name==name], end='\n')
print('bt', bt[bt.Name==name], end='\n\n')

sp       Season          Name    Team   G  GS  playerid   Inn
1371    2003  Scot Shields  Angels  13  13        35  78.2
rp      Season          Name    Team   G  GS  playerid    Inn
84     2005  Scot Shields  Angels  78   0        35   91.2
103    2004  Scot Shields  Angels  60   0        35  105.1
204    2006  Scot Shields  Angels  74   0        35   87.2
604    2003  Scot Shields  Angels  31   0        35   69.2
608    2007  Scot Shields  Angels  71   0        35   77.0
736    2008  Scot Shields  Angels  64   0        35   63.1
fd        Season          Name    Team Pos    Inn  playerid
12147    2003  Scot Shields  Angels   P  148.1        35
12406    2004  Scot Shields  Angels   P  105.1        35
12669    2005  Scot Shields  Angels   P   91.2        35
12932    2006  Scot Shields  Angels   P   87.2        35
13200    2007  Scot Shields  Angels   P   77.0        35
13458    2008  Scot Shields  Angels   P   63.1        35
bt Empty DataFrame
Columns: [Season, Name, Team, G, playerid]
Index: []

sp       Season           Name     Team   G  GS  playerid    Inn
422     2003  Tim Wakefield  Red Sox  33  33       219  199.1
1036    2002  Tim Wakefield  Red Sox  15  15       219   98.0
1189    2007  Tim Wakefield  Red Sox  31  31       219  189.0
1258    2005  Tim Wakefield  Red Sox  33  33       219  225.1
1304    2009  Tim Wakefield  Red Sox  21  21       219  129.2
1565    2004  Tim Wakefield  Red Sox  30  30       219  185.1
1674    2006  Tim Wakefield  Red Sox  23  23       219  140.0
1702    2010  Tim Wakefield  Red Sox  19  19       219  115.0
1741    2008  Tim Wakefield  Red Sox  30  30       219  181.0
2450    2011  Tim Wakefield  Red Sox  23  23       219  137.1
rp      Season           Name     Team   G  GS  playerid   Inn
783    2002  Tim Wakefield  Red Sox  30   0       219  65.1
fd        Season           Name     Team Pos    Inn  playerid
11908    2002  Tim Wakefield  Red Sox   P  163.1       219
12176    2003  Tim Wakefield  Red Sox   P  202.1       219
12435    2004  Tim Wakefield  Red Sox   P  188.1       219
12695    2005  Tim Wakefield  Red Sox   P  225.1       219
12956    2006  Tim Wakefield  Red Sox   P  140.0       219
13217    2007  Tim Wakefield  Red Sox   P  189.0       219
13473    2008  Tim Wakefield  Red Sox   P  181.0       219
13730    2009  Tim Wakefield  Red Sox   P  129.2       219
14002    2010  Tim Wakefield  Red Sox   P  140.0       219
14263    2011  Tim Wakefield  Red Sox   P  154.2       219
bt Empty DataFrame
Columns: [Season, Name, Team, G, playerid]
Index: []

sp       Season             Name      Team   G  GS  playerid   Inn
1767    2017  Mike Montgomery      Cubs  14  14      4869  69.1
2386    2015  Mike Montgomery  Mariners  16  16      4869  90.0
rp      Season             Name  Team   G  GS  playerid   Inn
999    2017  Mike Montgomery  Cubs  30   0      4869  61.1
fd        Season             Name      Team Pos    Inn  playerid
15411    2015  Mike Montgomery  Mariners   P   90.0      4869
15666    2016  Mike Montgomery  Mariners   P   61.2      4869
15914    2017  Mike Montgomery      Cubs   P  130.2      4869
bt Empty DataFrame
Columns: [Season, Name, Team, G, playerid]
Index: []

In [11]:
temp = pd.merge(rp, sp, on=['playerid', 'Season'], how='outer')
print(temp.Name_x.count())
print(temp.Name_y.count())
print(temp.Season.count())
print(temp[(~temp.Name_x.isnull())*(~temp.Name_y.isnull())])

1265
2741
4003
     Season           Name_x   Team_x   G_x  GS_x  playerid  Inn_x  \
604    2003     Scot Shields   Angels  31.0   0.0        35   69.2
783    2002    Tim Wakefield  Red Sox  30.0   0.0       219   65.1
999    2017  Mike Montgomery     Cubs  30.0   0.0      4869   61.1

              Name_y   Team_y   G_y  GS_y  Inn_y
604     Scot Shields   Angels  13.0  13.0   78.2
783    Tim Wakefield  Red Sox  15.0  15.0   98.0
999  Mike Montgomery     Cubs  14.0  14.0   69.1

/home/mtmoncur/anaconda3/lib/python3.6/site-packages/pandas/core/computation/expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))

In [12]:
#solve these rare occurrences by hand
#Scot spent more time as a relief pitcher
sp['Pos'] = 'SP'
rp['Pos'] = 'RP'
sp.drop( sp[(sp['Name']=='Scot Shields')*(sp['Season']==2003)].index, inplace=True )

#Tim spent more time as a starter
rp.drop( rp[(rp['Name']=='Tim Wakefield')*(rp['Season']==2002)].index, inplace=True )

#Mike spent more time as a starter
rp.drop( rp[(sp['Name']=='Mike Montgomery')*(sp['Season']==2017)].index, inplace=True )

/home/mtmoncur/anaconda3/lib/python3.6/site-packages/pandas/core/computation/expressions.py:179: UserWarning: evaluating in Python space because the '*' operator is not supported by numexpr for the bool dtype, use '&' instead
  .format(op=op_str, alt_op=unsupported[op_str]))
/home/mtmoncur/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:11: UserWarning: Boolean Series key will be reindexed to match DataFrame index.
  # This is added back by InteractiveShellApp.init_path()

In [13]:
pitchers = pd.concat([sp, rp], ignore_index=True)
pitchers.sort_values(by=['playerid', 'Season'])

      Season                 Name       Team   G  GS  playerid    Inn Pos
799     2002         Kevin Appier     Angels  32  32         3  188.1  SP
2509    2003         Kevin Appier     Angels  19  19         3   92.2  SP
2869    2010        Neftali Feliz    Rangers  70   0        18   69.1  RP
3266    2011        Neftali Feliz    Rangers  64   0        18   62.1  RP
3960    2002            Al Levine     Angels  52   0        20   63.2  RP
3925    2004            Al Levine     Tigers  65   0        20   70.2  RP
1382    2002          Ramon Ortiz     Angels  32  32        27  217.1  SP
2026    2003          Ramon Ortiz     Angels  32  32        27  180.0  SP
2179    2004          Ramon Ortiz     Angels  14  14        27   79.0  SP
2407    2005          Ramon Ortiz       Reds  30  30        27  171.1  SP
2437    2006          Ramon Ortiz  Nationals  33  33        27  190.2  SP
2391    2002    Scott Schoeneweis     Angels  15  15        33   90.1  SP
1945    2004    Scott Schoeneweis  White Sox  19  19        33  111.2  SP
1638    2002           Aaron Sele     Angels  26  26        34  160.0  SP
2605    2003           Aaron Sele     Angels  25  25        34  121.2  SP
2099    2004           Aaron Sele     Angels  24  24        34  121.2  SP
2518    2005           Aaron Sele   Mariners  21  21        34  116.0  SP
1581    2006           Aaron Sele    Dodgers  15  15        34   84.0  SP
3344    2003         Scot Shields     Angels  31   0        35   69.2  RP
2843    2004         Scot Shields     Angels  60   0        35  105.1  RP
2824    2005         Scot Shields     Angels  78   0        35   91.2  RP
2944    2006         Scot Shields     Angels  74   0        35   87.2  RP
3348    2007         Scot Shields     Angels  71   0        35   77.0  RP
3476    2008         Scot Shields     Angels  64   0        35   63.1  RP
268     2002      Jarrod Washburn     Angels  32  32        40  206.0  SP
1411    2003      Jarrod Washburn     Angels  32  32        40  207.1  SP
1316    2004      Jarrod Washburn     Angels  25  25        40  149.1  SP
1154    2005      Jarrod Washburn     Angels  29  29        40  177.1  SP
1173    2006      Jarrod Washburn   Mariners  31  31        40  187.0  SP
1094    2007      Jarrod Washburn   Mariners  32  32        40  193.2  SP
...      ...                  ...        ...  ..  ..       ...    ...  ..
981     2015      Masahiro Tanaka    Yankees  24  24     15764  154.0  SP
202     2016      Masahiro Tanaka    Yankees  31  31     15764  199.2  SP
753     2017      Masahiro Tanaka    Yankees  30  30     15764  178.1  SP
1217    2016          Sean Manaea  Athletics  24  24     15873  139.2  SP
964     2017          Sean Manaea  Athletics  29  29     15873  158.2  SP
2104    2015        Luis Severino    Yankees  11  11     15890   62.1  SP
83      2017        Luis Severino    Yankees  31  31     15890  193.1  SP
1820    2014  Odrisamer Despaigne     Padres  16  16     16017   96.1  SP
2432    2015  Odrisamer Despaigne     Padres  18  18     16017  101.0  SP
1174    2015         Carlos Rodon  White Sox  23  23     16137  133.0  SP
792     2016         Carlos Rodon  White Sox  28  28     16137  165.0  SP
2139    2017         Carlos Rodon  White Sox  12  12     16137   69.1  SP
1889    2015           Aaron Nola   Phillies  13  13     16149   77.2  SP
722     2016           Aaron Nola   Phillies  20  20     16149  111.0  SP
259     2017           Aaron Nola   Phillies  27  27     16149  168.0  SP
2604    2017       Daniel Gossett  Athletics  18  18     16164   91.1  SP
2361    2016     Brandon Finnegan       Reds  31  31     16208  172.0  SP
1260    2017        Kyle Freeland    Rockies  28  28     16256  149.2  SP
755     2017    Jordan Montgomery    Yankees  29  29     16511  155.1  SP
1630    2017         Sean Newcomb     Braves  19  19     16943  100.0  SP
950     2017      Trevor Williams    Pirates  25  25     16977  138.2  SP
2087    2016       Daniel Mengden  Athletics  14  14     16980   72.0  SP
1432    2015      Raisel Iglesias       Reds  16  16     17130   92.1  SP
2912    2017      Raisel Iglesias       Reds  63   0     17130   76.0  RP
1620    2017       Dinelson Lamet     Padres  21  21     17186  114.1  SP
1743    2017         Jeff Hoffman    Rockies  16  16     17432   90.1  SP
2459    2017        Ariel Miranda   Mariners  29  29     17526  158.0  SP
510     2016          Kenta Maeda    Dodgers  32  32     18498  175.2  SP
1197    2017          Kenta Maeda    Dodgers  25  25     18498  126.1  SP
2778    2016        Seung Hwan Oh  Cardinals  76   0     18719   79.2  RP

[4004 rows x 8 columns]

## Clean the batters data

In [14]:
#drop any pitchers from the fielders since pitchers may play field positions on occasion
pitcher_ids = pitchers['playerid'].unique()
pitchers_playing_field = fd['playerid'].isin(pitcher_ids)
print(fd[pitchers_playing_field])
fd.drop( fd[pitchers_playing_field].index , inplace=True) #there are 63 pitchers in fd that aren't in rp or sp

fd.drop( fd[fd['Pos'] == 'P'].index, inplace=True)

       Season               Name          Team Pos    Inn  playerid
11869    2002       Kevin Appier        Angels   P  188.1         3
11870    2002          Al Levine        Angels   P   63.2        20
11871    2002        Ramon Ortiz        Angels   P  217.1        27
11872    2002  Scott Schoeneweis        Angels   P  118.0        33
11873    2002         Aaron Sele        Angels   P  160.0        34
11874    2002    Jarrod Washburn        Angels   P  206.0        40
11875    2002          Ben Weber        Angels   P   78.0        41
11876    2002     Brian Anderson  Diamondbacks   P  156.0        44
11877    2002     Miguel Batista  Diamondbacks   P  184.2        46
11878    2002       Rick Helling  Diamondbacks   P  175.2        58
11879    2002      Randy Johnson  Diamondbacks   P  260.0        60
11880    2002     Byung-Hyun Kim  Diamondbacks   P   84.0        61
11881    2002       Mike Koplove  Diamondbacks   P   61.2        63
11882    2002     Curt Schilling  Diamondbacks   P  259.1        73
11883    2002        Tom Glavine        Braves   P  224.2        90
11884    2002      Chris Hammond        Braves   P   76.0        92
11885    2002   Kerry Ligtenberg        Braves   P   66.2       100
11886    2002        Greg Maddux        Braves   P  199.1       104
11887    2002      Jason Marquis        Braves   P  114.1       105
11888    2002     Kevin Millwood        Braves   P  217.0       106
11889    2002        Damian Moss        Braves   P  179.0       107
11890    2002     Mike Remlinger        Braves   P   68.0       111
11891    2002        John Smoltz        Braves   P   80.1       115
11892    2002         Rick Bauer       Orioles   P   83.2       125
11893    2002    Travis Driskill       Orioles   P  132.2       134
11894    2002     Scott Erickson       Orioles   P  160.2       137
11895    2002        Buddy Groom       Orioles   P   62.0       143
11896    2002      Jason Johnson       Orioles   P  131.1       147
11897    2002        Jorge Julio       Orioles   P   68.0       148
11898    2002      Rodrigo Lopez       Orioles   P  196.2       150
...       ...                ...           ...  ..    ...       ...
16090    2017        Zack Godley  Diamondbacks   P  155.0     14862
16091    2017           Jon Gray       Rockies   P  110.1     14916
16092    2017         Ben Lively      Phillies   P   88.2     14932
16093    2017        Jose Torres        Padres   P   68.1     14957
16094    2017          Chad Kuhl       Pirates   P  157.1     14975
16095    2017       Corey Knebel       Brewers   P   76.0     15010
16096    2017     German Marquez       Rockies   P  162.0     15038
16098    2017          Matt Boyd        Tigers   P  135.0     15440
16099    2017       Nick Pivetta      Phillies   P  133.0     15454
16100    2017  Antonio Senzatela       Rockies   P  134.2     15488
16101    2017   Kendall Graveman     Athletics   P  105.1     15514
16102    2017        Mark Leiter      Phillies   P   90.2     15551
16103    2017         Chad Green       Yankees   P   69.0     15552
16104    2017      Miguel Castro       Orioles   P   66.1     15684
16105    2017      Luis Castillo          Reds   P   89.1     15689
16106    2017    Masahiro Tanaka       Yankees   P  178.1     15764
16107    2017        Sean Manaea     Athletics   P  158.2     15873
16108    2017      Luis Severino       Yankees   P  193.1     15890
16109    2017       Carlos Rodon     White Sox   P   69.1     16137
16110    2017         Aaron Nola      Phillies   P  168.0     16149
16111    2017     Daniel Gossett     Athletics   P   91.1     16164
16112    2017      Kyle Freeland       Rockies   P  156.0     16256
16113    2017  Jordan Montgomery       Yankees   P  155.1     16511
16115    2017       Sean Newcomb        Braves   P  100.0     16943
16116    2017    Trevor Williams       Pirates   P  150.1     16977
16117    2017    Raisel Iglesias          Reds   P   76.0     17130
16118    2017     Dinelson Lamet        Padres   P  114.1     17186
16119    2017       Jeff Hoffman       Rockies   P   99.1     17432
16120    2017      Ariel Miranda      Mariners   P  160.0     17526
16121    2017        Kenta Maeda       Dodgers   P  134.1     18498

[4190 rows x 6 columns]

In [15]:
#change all fielder positions (except catcher) to FD
fd.loc[fd.Pos.isin(['1B','2B','3B','RF','LF','CF','SS']),'Pos'] = 'FD'

In [16]:
#merge batters with fielders
fielders = pd.merge(bt, fd, on=['Season', 'Name', 'Team', 'playerid'], how='inner')
fielders.sort_values(by=['playerid', 'Season'])

       Season               Name       Team    G  playerid Pos     Inn
8846     2003    Alfredo Amezaga     Angels   37         1  FD    94.1
8847     2003    Alfredo Amezaga     Angels   37         1  FD   193.0
9273     2004    Alfredo Amezaga     Angels   73         1  FD   167.0
4272     2006    Alfredo Amezaga    Marlins  132         1  FD   529.0
4273     2006    Alfredo Amezaga    Marlins  132         1  FD   127.0
2667     2007    Alfredo Amezaga    Marlins  133         1  FD   643.2
2668     2007    Alfredo Amezaga    Marlins  133         1  FD   122.0
4198     2008    Alfredo Amezaga    Marlins  125         1  FD   457.1
4199     2008    Alfredo Amezaga    Marlins  125         1  FD   125.1
4200     2008    Alfredo Amezaga    Marlins  125         1  FD    73.0
8880     2009    Alfredo Amezaga    Marlins   27         1  FD    81.1
989      2002    Garret Anderson     Angels  158         2  FD    99.0
990      2002    Garret Anderson     Angels  158         2  FD  1177.2
405      2003    Garret Anderson     Angels  159         2  FD  1241.1
5157     2004    Garret Anderson     Angels  112         2  FD   791.2
9123     2005    Garret Anderson     Angels  142         2  FD   920.0
7735     2006    Garret Anderson     Angels  141         2  FD   812.2
3841     2007    Garret Anderson     Angels  108         2  FD   724.1
3821     2008    Garret Anderson     Angels  145         2  FD   689.1
10885    2009    Garret Anderson     Braves  135         2  FD  1026.1
11065    2010    Garret Anderson    Dodgers   80         2  FD   189.0
4454     2004        Jamie Burke  White Sox   57         6   C   292.0
6583     2007        Jamie Burke   Mariners   50         6   C   321.2
8451     2008        Jamie Burke   Mariners   48         6   C   246.0
636      2002     David Eckstein     Angels  152        10  FD  1276.1
4235     2003     David Eckstein     Angels  120        10  FD   985.0
2748     2004     David Eckstein     Angels  142        10  FD  1191.2
1985     2005     David Eckstein  Cardinals  158        10  FD  1340.2
3476     2006     David Eckstein  Cardinals  123        10  FD  1029.0
5359     2007     David Eckstein  Cardinals  117        10  FD   943.2
...       ...                ...        ...  ...       ...  ..     ...
8039     2017        J.T. Riddle    Marlins   70     17642  FD   561.1
4485     2016       Alex Bregman     Astros   49     17678  FD   347.0
972      2017       Alex Bregman     Astros  155     17678  FD  1092.2
973      2017       Alex Bregman     Astros  155     17678  FD   214.2
5788     2016  Andrew Benintendi    Red Sox   34     17901  FD   231.2
2355     2017  Andrew Benintendi    Red Sox  151     17901  FD   241.0
2356     2017  Andrew Benintendi    Red Sox  151     17901  FD  1078.1
2957     2017           Ian Happ       Cubs  115     17919  FD   346.2
2958     2017           Ian Happ       Cubs  115     17919  FD   260.1
2959     2017           Ian Happ       Cubs  115     17919  FD   113.0
2960     2017           Ian Happ       Cubs  115     17919  FD    73.0
9250     2017   Andrew Stevenson  Nationals   37     17932  FD    91.0
1506     2017        Paul DeJong  Cardinals  108     18015  FD   747.1
1507     2017        Paul DeJong  Cardinals  108     18015  FD   158.0
7843     2017     Harrison Bader  Cardinals   32     18030  FD   151.2
7475     2017     Brian Anderson    Marlins   25     18289  FD   198.0
5091     2016     Dansby Swanson     Braves   38     18314  FD   313.0
7601     2017     Dansby Swanson     Braves  144     18314  FD  1202.0
7938     2016      Byung-ho Park      Twins   62     18497  FD   206.2
4740     2016       Hyun Soo Kim    Orioles   95     18718  FD   665.0
9382     2017       Hyun Soo Kim    Orioles   56     18718  FD   265.0
10570    2017       Hyun Soo Kim   Phillies   40     18718  FD    65.2
10571    2017       Hyun Soo Kim   Phillies   40     18718  FD    91.2
6554     2016  Guillermo Heredia   Mariners   45     18721  FD   198.1
8285     2017  Guillermo Heredia   Mariners  123     18721  FD   464.0
8286     2017  Guillermo Heredia   Mariners  123     18721  FD   465.0
7043     2016         Dae-Ho Lee   Mariners  104     18722  FD   622.0
7625     2016   Yulieski Gurriel     Astros   36     19198  FD   176.0
2942     2017   Yulieski Gurriel     Astros  139     19198  FD  1109.1
10428    2017        Austin Hays    Orioles   20     19363  FD    89.1

[11256 rows x 7 columns]

In [17]:
fielders['GS'] = 0
p = pd.concat([pitchers, fielders], ignore_index=True)

#account for team name changes
p.loc[p.Team=='Devil Rays','Team'] = 'Rays'
p.loc[p.Team=='Expos','Team'] = 'Nationals'

## Feature Engineer Stay Length, Career Length

In [18]:
if 'Leave' in p.columns:
    p.drop('Leave', axis=1, inplace=True)
if 'Stay_Length' in p.columns:
    p.drop('Stay_Length', axis=1, inplace=True)
if 'Career_Length' in p.columns:
    p.drop('Career_Length', axis=1, inplace=True)
    
#initialize the new column with value 'No Change'
p.insert(1, 'Leave', 0)
p.insert(1, 'Stay_Length', 0)
p.insert(1, 'Career_Length', 0)
by_player = p.groupby('playerid')

#loop through, player by player
for g in by_player.groups:
    one_p = by_player.get_group(g)
    
    stay_counter = 1
    career_counter = 1
    #loop through the years for each player
    for y in sorted(one_p['Season'].unique()):
        p.loc[one_p[one_p.Season==y].index,'Career_Length'] = career_counter
        p.loc[one_p[one_p.Season==y].index,'Stay_Length'] = stay_counter
        
        if sum(one_p.Season==y+1)==0:
            #case: no next season
            if sum(one_p.Season==y+2)==0:
                #Case: no next two seasons, counted as leave
                p.loc[one_p[one_p.Season==y].index,'Leave'] = 1
                stay_counter = 1
                career_counter += 1
            elif (one_p[one_p.Season==y].Team.values[0] != 
                    one_p[one_p.Season==y+2].Team.values[0]):
                #case come back to different team after missing a a season
                p.loc[one_p[one_p.Season==y].index,'Leave'] = 1
                stay_counter = 1
                career_counter += 1
            else:
                #case: come back to same team after missing a season
                career_counter += 1
                stay_counter += 1 
        
        #Case: Leave in next season
        elif (one_p[one_p.Season==y].Team.values[0] != 
                    one_p[one_p.Season==y+1].Team.values[0]):
            p.loc[one_p[one_p.Season==y].index,'Leave'] = 1
            stay_counter = 1
            career_counter += 1
        else:
            #case: stay for next season
            career_counter += 1
            stay_counter += 1

In [19]:
p.sort_values(by=['playerid','Season']).head(5)

,G,Career_Length,Stay_Length,Leave,GS,Inn,Name,Pos,Season,Team,playerid
12850,37,1,1,0,0,94.1,Alfredo Amezaga,FD,2003,Angels,1
12851,37,1,1,0,0,193.0,Alfredo Amezaga,FD,2003,Angels,1
13277,73,2,2,1,0,167.0,Alfredo Amezaga,FD,2004,Angels,1
8276,132,3,1,0,0,529.0,Alfredo Amezaga,FD,2006,Marlins,1
8277,132,3,1,0,0,127.0,Alfredo Amezaga,FD,2006,Marlins,1

## Combine records of players playing multiple positions

In [20]:
df1 = []
by_player = p.groupby('playerid')

#loop through, player by player
for g in by_player.groups:
    one_p = by_player.get_group(g)
    for year in one_p.Season.unique():
        df1.append([one_p.Name.values[0],year])
        #for team in one_p.Team.unique():
        #df1.append([one_p.Team.values[0],year])
        
df1 = pd.DataFrame(df1, columns=['Name','Season'])
df1.insert(0,'Team',0)
df1.insert(0,'G',0)
df1.insert(0,'playerid',0)
df1.insert(0,'Pos',0)
df1.insert(0,'Inn',0)
df1.insert(0,'GS',0)
df1.insert(0,'Stay_Length',0)
df1.insert(0,'Career_Length',0)

In [21]:
for idx in df1.index:
    #print(p[ p.index == row]).
    row = df1[df1.index==idx]
    name = row['Name'].values[0]
    season = row['Season'].values[0]
    name_mask = (p.Name == name)
    season_mask = (p.Season == season)
    records = (p[name_mask&season_mask])
    I = records.Inn.sum()
    
    
    #print(records)
    #G = records.G.sum()
    df1.loc[idx,'Inn'] = I
    df1.loc[idx,'Team'] = records.Team.values[0] 
    df1.loc[idx,'Pos'] = records.Pos.values[0]
    df1.loc[idx,'playerid'] = records.playerid.values[0]
    df1.loc[idx,'G'] = records.G.sum()
    df1.loc[idx,'GS'] = records.GS.values[0]
    df1.loc[idx,'Stay_Length'] = records.Stay_Length.values[0]
    df1.loc[idx,'Career_Length'] = records.Career_Length.values[0]
    df1.loc[idx, 'Leave'] = records.Leave.values[0]

In [22]:
df1.sort_values(by=['playerid', 'Season']).head(20)

,Career_Length,Stay_Length,GS,Inn,Pos,playerid,G,Team,Name,Season,Leave
3,1,1,0,287.1,FD,1,74,Angels,Alfredo Amezaga,2003,0.0
5,2,2,0,167.0,FD,1,73,Angels,Alfredo Amezaga,2004,1.0
2,3,1,0,656.0,FD,1,264,Marlins,Alfredo Amezaga,2006,0.0
0,4,2,0,765.2,FD,1,266,Marlins,Alfredo Amezaga,2007,0.0
1,5,3,0,655.2,FD,1,375,Marlins,Alfredo Amezaga,2008,0.0
4,6,4,0,81.1,FD,1,27,Marlins,Alfredo Amezaga,2009,1.0
7,1,1,0,1276.2,FD,2,316,Angels,Garret Anderson,2002,0.0
6,2,2,0,1241.1,FD,2,159,Angels,Garret Anderson,2003,0.0
10,3,3,0,791.2,FD,2,112,Angels,Garret Anderson,2004,0.0
12,4,4,0,920.0,FD,2,142,Angels,Garret Anderson,2005,0.0
11,5,5,0,812.2,FD,2,141,Angels,Garret Anderson,2006,0.0
9,6,6,0,724.1,FD,2,108,Angels,Garret Anderson,2007,0.0
8,7,7,0,689.1,FD,2,145,Angels,Garret Anderson,2008,1.0
13,8,1,0,1026.1,FD,2,135,Braves,Garret Anderson,2009,1.0
14,9,1,0,189.0,FD,2,80,Dodgers,Garret Anderson,2010,1.0
15,1,1,32,188.1,SP,3,32,Angels,Kevin Appier,2002,0.0
16,2,2,19,92.2,SP,3,19,Angels,Kevin Appier,2003,1.0
17,1,1,0,292.0,C,6,57,White Sox,Jamie Burke,2004,1.0
18,2,1,0,321.2,C,6,50,Mariners,Jamie Burke,2007,0.0
19,3,2,0,246.0,C,6,48,Mariners,Jamie Burke,2008,1.0

In [23]:
p = df1

## Calculate Team Average Stats

In [24]:
for col in ['Avg_Team_Stay_Length', 'Avg_Team_Career_Length', 'Avg_Team_G']:
    if col in p.columns:
        p.drop(col, axis=1, inplace=True)
p.insert(0, 'Avg_Team_Stay_Length', 0)
p.insert(0, 'Avg_Team_Career_Length', 0)
p.insert(0, 'Avg_Team_G', 0)

by_team_season = p.groupby(['Team', 'Season'])
for team, season in by_team_season.groups:
    team_season = by_team_season.get_group((team, season))
    
    p.loc[team_season.index, 'Avg_Team_Stay_Length'] = team_season.Stay_Length.mean()
    p.loc[team_season.index, 'Avg_Team_Career_Length'] = team_season.Career_Length.mean()
    p.loc[team_season.index, 'Avg_Team_G'] = team_season.G.mean()

In [25]:
for col in ['P', 'SP', 'RP', 'FD', 'C']:
    if col in p.columns:
        p.drop(col, axis=1, inplace=True)

#one-hot encode positions
for position in p.Pos.unique():
    p.insert(0, position, (p.Pos==position).apply(int))

#one-hot encode teams
#for team in p.Team.unique():
#    p.insert(0, team, (p.Team==team).apply(int))

In [26]:
p.to_csv('../data/data_categorical.csv', index=False)

In [27]:
p.head()

,RP,C,SP,FD,Avg_Team_G,Avg_Team_Career_Length,Avg_Team_Stay_Length,Career_Length,Stay_Length,GS,Inn,Pos,playerid,G,Team,Name,Season,Leave
0,0,0,0,1,97.080000,2.680000,1.880000,4,2,0,765.2,FD,1,266,Marlins,Alfredo Amezaga,2007,0.0
1,0,0,0,1,118.173913,3.304348,2.000000,5,3,0,655.2,FD,1,375,Marlins,Alfredo Amezaga,2008,0.0
2,0,0,0,1,112.086957,2.086957,1.434783,3,1,0,656.0,FD,1,264,Marlins,Alfredo Amezaga,2006,0.0
3,0,0,0,1,103.666667,1.703704,1.666667,1,1,0,287.1,FD,1,74,Angels,Alfredo Amezaga,2003,0.0
4,0,0,0,1,105.958333,2.958333,2.041667,6,4,0,81.1,FD,1,27,Marlins,Alfredo Amezaga,2009,1.0

In [29]:
#for the numeric data, we remove Name and Pos, but keep player ids
p.drop(['Name', 'Pos'], axis=1, inplace=True)

In [30]:
p.Team = p.Team.astype('category')
p.Team = p.Team.cat.codes
p

,RP,C,SP,FD,Avg_Team_G,Avg_Team_Career_Length,Avg_Team_Stay_Length,Career_Length,Stay_Length,GS,Inn,playerid,G,Team,Season,Leave
0,0,0,0,1,97.080000,2.680000,1.880000,4,2,0,765.2,1,266,13,2007,0.0
1,0,0,0,1,118.173913,3.304348,2.000000,5,3,0,655.2,1,375,13,2008,0.0
2,0,0,0,1,112.086957,2.086957,1.434783,3,1,0,656.0,1,264,13,2006,0.0
3,0,0,0,1,103.666667,1.703704,1.666667,1,1,0,287.1,1,74,0,2003,0.0
4,0,0,0,1,105.958333,2.958333,2.041667,6,4,0,81.1,1,27,13,2009,1.0
5,0,0,0,1,105.280000,2.560000,2.120000,2,2,0,167.0,1,73,0,2004,1.0
6,0,0,0,1,103.666667,1.703704,1.666667,2,2,0,1241.1,2,159,0,2003,0.0
7,0,0,0,1,113.818182,1.000000,1.000000,1,1,0,1276.2,2,316,0,2002,0.0
8,0,0,0,1,107.071429,4.500000,3.285714,7,7,0,689.1,2,145,0,2008,1.0
9,0,0,0,1,104.708333,3.708333,3.000000,6,6,0,724.1,2,108,0,2007,0.0
10,0,0,0,1,105.280000,2.560000,2.120000,3,3,0,791.2,2,112,0,2004,0.0
11,0,0,0,1,102.178571,3.178571,2.607143,5,5,0,812.2,2,141,0,2006,0.0
12,0,0,0,1,121.000000,3.208333,2.458333,4,4,0,920.0,2,142,0,2005,0.0
13,0,0,0,1,106.380952,4.333333,2.190476,8,1,0,1026.1,2,135,4,2009,1.0
14,0,0,0,1,105.320000,5.720000,2.560000,9,1,0,189.0,2,80,9,2010,1.0
15,0,0,1,0,113.818182,1.000000,1.000000,1,1,32,188.1,3,32,0,2002,0.0
16,0,0,1,0,103.666667,1.703704,1.666667,2,2,19,92.2,3,19,0,2003,1.0
17,0,1,0,0,116.750000,2.333333,2.000000,1,1,0,292.0,6,57,28,2004,1.0
18,0,1,0,0,109.818182,4.181818,2.318182,2,1,0,321.2,6,50,12,2007,0.0
19,0,1,0,0,108.960000,4.320000,2.640000,3,2,0,246.0,6,48,12,2008,1.0
20,0,0,0,1,113.818182,1.000000,1.000000,1,1,0,1276.1,10,152,0,2002,0.0
21,0,0,0,1,120.391304,3.086957,1.869565,4,1,0,1340.2,10,158,6,2005,0.0
22,0,0,0,1,105.280000,2.560000,2.120000,3,3,0,1191.2,10,142,0,2004,1.0
23,0,0,0,1,113.120000,4.280000,2.000000,9,2,0,967.1,10,116,17,2010,1.0
24,0,0,0,1,127.666667,3.541667,2.083333,5,2,0,1029.0,10,123,6,2006,0.0
25,0,0,0,1,103.666667,1.703704,1.666667,2,2,0,985.0,10,120,0,2003,0.0
26,0,0,0,1,106.266667,3.400000,2.100000,8,1,0,1093.1,10,136,17,2009,0.0
27,0,0,0,1,107.642857,4.142857,2.142857,6,3,0,943.2,10,117,6,2007,1.0
28,0,0,0,1,106.541667,4.791667,2.583333,7,1,0,636.1,10,94,3,2008,1.0
29,0,0,0,1,113.818182,1.000000,1.000000,1,1,0,1227.2,11,150,0,2002,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11471,0,0,1,0,102.538462,3.153846,1.500000,1,1,21,114.1,17186,21,17,2017,1.0
11472,0,0,0,1,114.909091,3.909091,1.909091,1,1,0,467.1,17232,54,28,2017,1.0
11473,0,0,0,1,100.730769,5.230769,2.538462,1,1,0,507.2,17350,58,22,2017,1.0
11474,0,0,1,0,102.086957,4.608696,2.434783,1,1,16,90.1,17432,16,24,2017,1.0
11475,0,0,1,0,112.650000,5.250000,2.550000,1,1,29,158.0,17526,29,12,2017,1.0
11476,0,0,0,1,82.500000,4.846154,1.423077,1,1,0,168.0,17528,24,4,2015,1.0
11477,0,0,0,1,96.227273,5.318182,2.636364,1,1,0,561.1,17642,70,13,2017,1.0
11478,0,0,0,1,123.666667,4.916667,2.583333,2,2,0,1306.4,17678,310,1,2017,1.0
11479,0,0,0,1,116.960000,3.240000,2.240000,1,1,0,347.0,17678,49,1,2016,0.0
11480,0,0,0,1,100.730769,5.230769,2.538462,2,2,0,1319.1,17901,302,22,2017,1.0
11481,0,0,0,1,88.450000,4.850000,2.800000,1,1,0,231.2,17901,34,22,2016,0.0
11482,0,0,0,1,141.739130,5.347826,2.391304,1,1,0,792.3,17919,460,7,2017,1.0
11483,0,0,0,1,90.360000,6.960000,3.200000,1,1,0,91.0,17932,37,15,2017,1.0
11484,0,0,0,1,127.913043,4.260870,3.260870,1,1,0,905.1,18015,216,6,2017,1.0
11485,0,0,0,1,127.913043,4.260870,3.260870,1,1,0,151.2,18030,32,6,2017,1.0
11486,0,0,0,1,96.227273,5.318182,2.636364,1,1,0,198.0,18289,25,13,2017,1.0
11487,0,0,0,1,121.700000,5.000000,1.750000,1,1,0,313.0,18314,38,4,2016,0.0
11488,0,0,0,1,129.800000,5.200000,1.880000,2,2,0,1202.0,18314,144,4,2017,1.0
11489,0,0,0,1,101.440000,4.000000,2.560000,1,1,0,206.2,18497,62,27,2016,1.0
11490,0,0,1,0,114.826087,5.521739,2.608696,1,1,32,175.2,18498,32,9,2016,0.0
11491,0,0,1,0,146.347826,5.217391,2.652174,2,2,25,126.1,18498,25,9,2017,1.0
11492,0,0,0,1,97.739130,5.043478,3.434783,1,1,0,665.0,18718,95,16,2016,0.0
11493,0,0,0,1,109.692308,5.346154,3.153846,2,2,0,421.4,18718,136,16,2017,1.0
11494,1,0,0,0,162.521739,4.826087,3.173913,1,1,0,79.2,18719,76,6,2016,1.0
11495,0,0,0,1,101.086957,5.391304,2.608696,1,1,0,198.1,18721,45,12,2016,0.0
11496,0,0,0,1,112.650000,5.250000,2.550000,2,2,0,929.0,18721,246,12,2017,1.0
11497,0,0,0,1,101.086957,5.391304,2.608696,1,1,0,622.0,18722,104,12,2016,1.0
11498,0,0,0,1,123.666667,4.916667,2.583333,2,2,0,1109.1,19198,139,1,2017,1.0
11499,0,0,0,1,116.960000,3.240000,2.240000,1,1,0,176.0,19198,36,1,2016,0.0
11500,0,0,0,1,109.692308,5.346154,3.153846,1,1,0,89.1,19363,20,16,2017,1.0

In [31]:
p.to_csv('../data/data_numerical.csv', index=False)