In [57]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

plt.style.use("ggplot")
%matplotlib inline

from sklearn.ensemble import RandomForestClassifier, ExtraTreesClassifier, AdaBoostClassifier
from sklearn import svm
from sklearn.linear_model import LogisticRegressionCV
from sklearn.metrics import accuracy_score, make_scorer
from sklearn.model_selection import train_test_split
from sklearn.model_selection import GridSearchCV
from sklearn import datasets
import xgboost as xgb

Exception ignored in: <bound method DMatrix.__del__ of <xgboost.core.DMatrix object at 0x7f3b114e2f60>>
Traceback (most recent call last):
  File "/home/mtmoncur/anaconda3/lib/python3.6/site-packages/xgboost/core.py", line 368, in __del__
    if self.handle is not None:
AttributeError: 'DMatrix' object has no attribute 'handle'

In [76]:
data = pd.read_csv('../data/data_numerical.csv')

In [77]:
data.head()

,RP,C,SP,FD,Avg_Team_G,Avg_Team_Career_Length,Avg_Team_Stay_Length,target,Career_Length,Stay_Length,GS,Inn,playerid,G,Team,Season,Leave
0,0,0,0,1,97.080000,2.680000,1.880000,13,4,2,0,765.2,1,266,13,2007,0.0
1,0,0,0,1,118.173913,3.304348,2.000000,13,5,3,0,655.2,1,375,13,2008,0.0
2,0,0,0,1,112.086957,2.086957,1.434783,13,3,1,0,656.0,1,264,13,2006,0.0
3,0,0,0,1,103.666667,1.703704,1.666667,0,1,1,0,287.1,1,74,0,2003,0.0
4,0,0,0,1,105.958333,2.958333,2.041667,30,6,4,0,81.1,1,27,13,2009,1.0

In [78]:
X = data.drop(['Leave', 'playerid', 'Team', 'target'], axis=1)
X.drop(data[data.Season==2017].index, inplace=True)
y = data['Leave']
y.drop(data[data.Season==2017].index, inplace=True)

In [79]:
X.head()

,RP,C,SP,FD,Avg_Team_G,Avg_Team_Career_Length,Avg_Team_Stay_Length,Career_Length,Stay_Length,GS,Inn,G,Season
0,0,0,0,1,97.080000,2.680000,1.880000,4,2,0,765.2,266,2007
1,0,0,0,1,118.173913,3.304348,2.000000,5,3,0,655.2,375,2008
2,0,0,0,1,112.086957,2.086957,1.434783,3,1,0,656.0,264,2006
3,0,0,0,1,103.666667,1.703704,1.666667,1,1,0,287.1,74,2003
4,0,0,0,1,105.958333,2.958333,2.041667,6,4,0,81.1,27,2009

In [80]:
train_mask = (X.Season > 2006)&(X.Season < 2015)
test_mask = (X.Season >= 2015)
X_train = X[train_mask]
X_test = X[test_mask]
y_train =y[train_mask]
y_test = y[test_mask]

In [81]:
xmodel = xgb.XGBClassifier()
xmodel.fit(X_train, y_train)

XGBClassifier(base_score=0.5, booster='gbtree', colsample_bylevel=1,
       colsample_bytree=1, gamma=0, learning_rate=0.1, max_delta_step=0,
       max_depth=3, min_child_weight=1, missing=None, n_estimators=100,
       n_jobs=1, nthread=None, objective='binary:logistic', random_state=0,
       reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
       silent=True, subsample=1)

In [82]:
accuracy_score(y_test, xmodel.predict(X_test))

/home/mtmoncur/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

0.6962025316455697

In [83]:
xmodel.predict(X_test)

/home/mtmoncur/anaconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

array([1., 0., 0., ..., 0., 0., 1.])

# Multi model stuff